*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* header */
.header {
    height: 64px;
    background-color: #515154;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header img {
    width: 212px;
    height: 63px;
    color: #fff;
    margin-left: 159px;
    margin-right: 50px;
    padding: 4px 0;
}

.header ul li {
    display: inline-block;
    line-height: 64px;
    padding: 0 15px;
}

.header ul li:hover {
    background-color: #626265;
    line-height: 62px;
}

.header ul li a {
    text-decoration: none;
    color: #d2d2d7;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    height: 100%;
}

.header i {
    line-height: 64px;
    color: #d2d2d7;
    font-size: 18px;
}

.header i:hover {
    color: #fff;
}

.header .icon-search{
    padding:0 15px;
    font-size: 15px;
}

.header .icon-user{
    padding:0 15px;
}
/* hết header */

/* Slider */
.slider {
    margin-top: 64px;
}

.slider-content{
    width: 100%;
    height: 460px;
    position: relative;
    overflow: hidden;
}   

.slider-content-img {
    width: 100%;
    height: 460px;
    position: relative;
    transition: all 0.3s ease;
}

.slider-content-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.slider-content-arrow {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px 0;
    transform: translateY(-50%);
}

.slider-content-arrow i{
    width: 35px;
    height: 35px;
    background-color: #0000004f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #515154;
}

.slider-content-arrow i:hover {
    color: white;
}

.slider-content-list {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
}

.slider-content-list ol {
    display: flex;
    list-style: none;
}

.slider-content-list li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
}

.slider-content-list-1 {
    background-color: #111111;
}

.slider-content-list-2 {
    background-color: #7e7576;
}

.slider-content-list-3 {
    background-color: #7e7576;
}

.slider-content:hover .slider-content-arrow i{
    opacity: 1;
}

.slider-content-img a:nth-child(2) img{
    transform: translateX(100%);
}

.slider-content-img a:nth-child(3) img{
    transform: translateX(200%);
}

/* Hết Slider */

/* Section top */
.section {
    background-color: #F5F5F7;
}

.section-top {
    padding-top:48px;
    text-align: center;
}

.section-top img {
    width: 378px;
    height: 163px;
}

.section-top-img2 {
    margin: 0 18px;
}


/* Section center */

.section-center h2 {
    color: #191919;
    font-weight: 700;
    text-align: center;
    font-size: 29px;
    margin-top: 89px;
    margin-bottom: 28px;
}

.id-list {
    display: flex;
    margin-left: 171px;
}

.box-img {
    width: 279px;
    height: 304px;
    background-color: #fff;
    padding-top: 25px;
    border-radius: 10px 10px 0 0;
}

.box-img img {
    width: 279px;
    height: 279px;
}

.box-text {
    width: 279px;
    height: 99px;
    padding: 20px 15px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.box-text a {
    text-decoration: none;
    color: #1d1d1f;
    font-size: 18px;
    font-weight: 700;
}

.info {
    margin-bottom: 16px;
}

.span1 {
    color: #808080;
    font-size: 13px;
    text-decoration: line-through;
}

.span2 {
    color: #0066cc;
    font-size: 17px;
    font-weight: 700;
}

.id-list-1:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.id-list-2 {
    transition: box-shadow 0.2s;
    margin-left: 20px;
}

.id-list-2:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.id-list-3 {
    margin-left: 20px;
    margin-right: 20px;
}

.id-list-3:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.id-list-4:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-see{
    text-align: center;
    margin-top: 40px;
}

.btn-see button {
    width: 227px;
    height: 40px;
    color: #0066cc;
    font-size: 14px;
    letter-spacing: 0.5px;
    border: 1px solid #0066CC;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.btn-see button:hover {
    background-color: #0066CC;
    color: white;
}

.icon-angle {
    font-size: 12px;
    margin-left: 5px;
}

.mg-top {
    margin-top: -50px;
}

/* Section img */

.section-img {
    text-align: center;
    margin-top: 40px;
}

.section-img img{
    width: 1173px;
    height: 392px;
}

/* Section bottom */

.section-bottom {
    padding-bottom: 80px;
}

.section-bottom h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #191919;
    margin-bottom: 30px;
}

.news {
    display: flex  ;
    justify-content: space-around;
}

.new1 {
    padding-left: 160px;
}

.new1 img {
    width: 378px;
    height: 227px;
    border-radius: 10px 10px 0 0;
}

.new-bottom {
    width: 378px;
    height: 149px;
    background-color: #fff;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.new-bottom h5 {
    color: #1d1d1f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.new-bottom p {
    color: #a8a3a3 ;
    font-size: 15px;
    margin-top: 5px;
}

.new-bottom p:hover {
    color: #1d1d1f;
}

.new2 img {
    width: 378px;
    height: 227px;
    border-radius: 10px 10px 0 0;
}

.new3 {
    padding-right: 160px;
}

.new3 img {
    width: 378px;
    height: 227px;
    border-radius: 10px 10px 0 0;
}

/* Section form */
.section-form{
    background-color:#F2F2F2;
    padding-bottom: 40px;
}

.section-form h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 23px;
    font-weight: 700;
}

.section-form > p {
    text-align: center;
    margin-top: 12px;
    color: #777777;
    font-size: 14px;
}

.form {
    display: flex;
    width: 500px;
    height: 45px;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 30px;
    background-color: #fff;
}

.form .email {
    flex-basis: 83%;
}

.form .email input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 0 12px 0 20px;
    border: none;
    border-radius: 30px;
    box-shadow:#000000 0px 0px 0px 0px;
}

.form .register {
    flex-basis: 17%;
}

.form .register button {
    width: 100%;
    height: 100%;
    background-color: #0066CC;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    border: none;
    box-shadow:#000000 0px 0px 0px 0px;
    cursor: pointer;    
}

/* Footer */
.footer {
    background-color: #1D1D1F;
    color: white;
}

.footer-top {
    display: flex;
    padding: 0 170px;
    padding-bottom: 25px;
}

.footer-top-1 {
    flex-basis: 25%;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.desc-1 {
    padding-top: 20px;
}

.desc-1 {
    color: #d2d2d7;
    font-size: 14px;
    line-height: 24px;
}

.footer-icon {
    display: flex;
}

.footer-icon-1 {
    width: 29px;
    height: 29px;
     background-color: #3a589d;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 30px;
}

.footer-icon-1 span {
    position: absolute;
    background-color: black;
    width: 150px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.4s;
    opacity: 0;
    top: 0;
    pointer-events: none;
}

.footer-icon-1 span:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    background-color: black;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
}

.footer-icon-1:hover > span {
    top: -45px;
    opacity: 1;
}

.footer-icon-1:hover {
    background-color:#2a4177;
    cursor: pointer;
}


.footer-icon-2 {
    width: 29px;
    height: 29px;
    background-color: #111111;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer-icon-2 span {
    position: absolute;
    background-color: black;
    width: 150px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.4s;
    opacity: 0;
    top: 0;
    pointer-events: none;
}

.footer-icon-2 span:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    background-color: black;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
}

.footer-icon-2:hover > span {
    top: -45px;
    opacity: 1;
}

.footer-icon-2:hover {
    background-color: #111111;
    cursor: pointer;
}

.footer-icon-3 {
    width: 29px;
    height: 29px;
    background-color: #cc3223;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 30px;
}

.footer-icon-3 span {
    position: absolute;
    background-color: black;
    width: 150px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.4s;
    opacity: 0;
    top: 0;
    pointer-events: none;
}

.footer-icon-3 span:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    background-color: black;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
}

.footer-icon-3:hover > span {
    top: -45px;
    opacity: 1;
}

.footer-icon-3:hover {
    background-color: #99251b;
    cursor: pointer;
}

.footer-top-2 {
    flex-basis: 25%;
    padding-top: 50px;
}

.footer-top-2 h4 {
    font-size: 15px;
    color: #eaeaf3;
    padding-bottom: 25px;
}

.footer-top-2 li {
    list-style: none;
    margin: 0 0 6px;
}

.footer-top-2 li a {
    font-size: 14px;
    color: #86868b;
}

.footer-top-2 li a:hover {
    text-decoration: underline;
}

.footer-top-3 {
    flex-basis: 25%;
    padding-top: 50px;

}

.footer-top-3 h4 {
    font-size: 15px;
    color: #eaeaf3;
    padding-bottom: 25px;
}


.footer-top-3 li {
    list-style: none;
    margin: 0 0 6px;
}

.footer-top-3 li a {
    font-size: 14px;
    color: #86868b;
}

.footer-top-3 li a:hover {
    text-decoration: underline;
}

.footer-top-4 {
    flex-basis: 25%;
    padding-top: 50px;
}

.footer-top-4 h4 {
    font-size: 15px;
    color: #eaeaf3;
    padding-bottom: 25px;
}


.footer-top-4 li {
    list-style: none;
    margin: 0 0 8px;
}  

.footer-top-4 li:nth-child(6)
{
    padding-left: 30px;
}

.footer-top-4 li:nth-child(7)
{
    padding-left: 30px;
}

.footer-top-4 li:nth-child(8)
{
    padding-left: 30px;
}

.footer-top-4 li a {
    font-size: 14px;
    color: #86868b;
}

.footer-top-4 li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    padding-bottom: 40px;
}

.footer-container {
    width: 1200px;
    height: 74px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #515154  ;
    padding-top: 30px;
}

.container-text {
    font-size: 13px;
    color: #515154;
    width: 669px;
    height: 60px;
    line-height: 20px;
}

.footer-container img {
    width: 117px;
    height: 59px;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    display: none;
}

.modal-inner {
    width: 875px;
    position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translatey(-50%);
    background-color: white;
    padding: 30px 20px;
    animation: modalShow 0.2s linear;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    color: #191919;
    font-size: 18px;
    font-weight: 700;
}

.modal-body-p1 {
    margin: 10px 0;
    font-size: 13px;
    font-weight: 700;
}

.modal-body-name {
    width: 835px;
    height: 34px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.modal-body-pass{
    width: 835px;
    height: 34px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.modal-body-remember {
    margin-top: 20px;
}

.modal-body-remember-text {
    font-size: 13px;
    font-weight: 700;
    margin-left: 10px;
}

.modal-footer {
    margin-top: 20px;
}

.modal-footer button {
    width: 120px;
    height: 34px;
    background-color: #446084;
    color: white;
    font-weight: 700;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.modal-footer button:hover {
    background-color: #2b3f59;
}

.modal-footer p {
    margin-top: 10px;
    font-size: 14px;
}

.modal-footer p a {
    color: #000000;
}

.modal-footer p a:hover {
    color: #446084;
}

@keyframes modalShow {
    from {
        top: -200px;
        opacity: 0;
    }

    to{
        top: 50%;
        opacity: 1;
    }
}

/* Modal-search */

.modal-search {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    display:none;
}

.modal-search-close {
    position: relative;
    left: 96%;
}

.modal-search-close i {
    color: #ccc;
    font-size: 24px;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.modal-search-close i:hover {
    color: white;
}

.modal-search-inner {
    width: 700px;
    height: 59px;
    position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translatey(-50%);
    background-color: white;
    padding: 30px 20px;
    animation: modalShow 0.2s linear;
    padding: 0;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}   

.modal-search-inner p {
    width: 100px;
    text-align: center;
    line-height: 59px;
    background-color: red;
    color: white;
}

.modal-search-inner input {
    width: 541px;
    height: 59px;
    border: none;
    padding-left: 15px;
    font-size: 18px;
}

.modal-search-inner input:focus {
    outline: none;
}

.modal-search-inner button {
    width: 59px;
    height: 59px;
    border: none;
    background-color: #d26e4b;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-search-inner button:hover {
    background-color: #904d35;
}

.modal-search-inner button i {
    width: 29px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: white;
    font-size: 20px;
}
/* Modal cart */
.modal-cart {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    display: none;
}

.modal-cart-inner {
    width: 320px;
    height: 100%;
    position: relative;
    left: 39%;
    margin: 0 auto;
    background-color: white;
    animation: hide 0.3s linear;
}

.modal-content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.modal-content p {
    padding-left: 37%;
    font-size: 16px;
    color: #191919;
    font-weight: 700;
}

.modal-content i {
    padding-right: 20px;
    font-size: 16px;
}

.underline {
    width: 50px;
    height: 3px;
    background-color: #777777;
    margin-top: 20px;
    margin-left: 135px;
}

.modal-cart-inner > p {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #777777;
}

@keyframes hide {
    from {
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}
/* Scroll top */
#btn-scroll-top {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    background-color: #808080;
    border-color: white;
    border-radius: 999px;
    border-style: solid;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    transition: opacity 0.3s, transform 0.3s;
}
  
#btn-scroll-top:hover {
    background-color: #555; 
    border-color: #446084;
}

.fb-zalo {
    position: fixed;
    left: 1%;
    bottom: 5%;
}

.fb,.zalo,.mess  {
    animation: 1.0s infinite fb-animation;
}

@keyframes fb-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(25deg);
    }
    20% {
        transform: rotate(-25deg);
    }
    30% {
        transform: rotate(25deg);
    }
    40% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

